@mixin font-regular{
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    @content;
}


@mixin font-bold{
    font-weight:bold;
    font-stretch: normal;
    font-style: normal;
    @content;
}

@mixin font-light{
    font-weight: lighter;
    font-stretch: normal;
    font-style: normal;
    @content;
}


@mixin button-white{
    border: 2px solid $primary-red;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 1em;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: $primary-red;
    background-color: $primary-white;
    @content;
}