.footer-logo-wrapper{
    .footer-logo{
        width: auto; 
        height: 50px;
    }
}


footer{
    width: 85%;
    margin: 6.5% auto 0 auto;
    padding-bottom: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.footer-container{
    padding: 2.5% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    border-bottom: 2px solid #484848;
    
    .footer-social-media{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
        img{
            width: 23px;
            height: auto;
            padding: 0 0 0 15px ;
        }
    }
}

.sub-footer-container{
    width: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    
}


@media screen and (min-width: 300px) and (max-width: 700px) {
    
    .footer-logo{
        display: none;
    }

    .footer-container, #menu-footer-nav, #menu-sub-footer-nav{
        flex-direction: column;
    }


    .footer-container{
        .footer-social-media{
            justify-content: center;
            margin-bottom: 8px;
            img{
                padding:0 15px; 
                width: 34px;
            }
        }
    }
    .footer-container{
        border-bottom: none;
        border-top: 1px solid $primary-grey;
        margin-bottom: 0;
    }

    .sub-footer-container{
        display: flex;
        flex-direction: column-reverse;
    }

    footer{
        width: 100%;
        margin: 20% auto 0 auto;
        text-align: center;
    }

    
}