.footer-logo-wrapper{
    .footer-logo{
        width: auto; 
        height: 50px;
    }
}


footer{
    width: 85%;
    margin: 0 auto;
    padding-bottom: 50px;
}

.footer-container{
    padding: 2.5% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    border-bottom: 2px solid #484848;
    
    .footer-social-media{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
        img{
            width: 23px;
            height: auto;
            padding: 0 0 0 15px ;
        }
    }
}

.sub-footer-container{
    width: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    
}