// SUBSCRIBE FORM BANNER

div#mc_embed_signup{
    background-color: transparent !important;
}


.home-banner-form-img{
    position: relative;
    max-height: 500px;
    object-fit: cover;
    object-position: top;
}

.subscribe-form-container{
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    p{
        color: $primary-white;
        margin: 0 0 3% 0;
        text-shadow: 2px 2px 5px $primary-black;
    }
}

.subscribe-form-title{
    color: $primary-white;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px $primary-black;

}

// .banner-container{
//     #mc_embed_signup #mc-embedded-subscribe{
//         font-size: 1em;
//     }
// }



// #mc_embed_signup #mce-EMAIL{
//     max-width: 450px;
//     width: 100%;
// }

#mc_embed_signup div.birthday-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    input{ 
        padding: 3px 1px;
    }

    label{
        padding-bottom: 0;
        padding-right: 5px;
        text-shadow: 2px 2px 4px $primary-grey;
    }
}
#mc_embed_signup div.mc-field-group{
    padding-bottom: 5px;

}

#mc_embed_signup div.email-container{
    width: 100%;
    padding-bottom: 0;

    input#mce-EMAIL{
        margin: 0 auto;
        width: 75%;
        max-width: 550px;
    }
}

#mc_embed_signup div{
    div.mce_inline_error{
        text-transform: uppercase;
        color: $primary-red !important;
        background-color: transparent !important;
        margin-bottom: 0 !important;
        font-weight: bold !important;
    }

    div#mce-responses{
        padding: 0;
        margin: 0;
        width: 100%;

    }

    div#mce-success-response{
        padding-top: 0;
        margin-top: 0;
        width: 100%;
        text-transform: uppercase;
        font-size: 1.4em;
       color: $primary-white;
       text-shadow: 2px 2px 4px $primary-grey;
       letter-spacing: 1px;
    }
}

#mc_embed_signup_scroll{
    text-align: center;
    color: $primary-white;
    display: flex;
    flex-direction: column;

    h2.subscribe-form-title{
        font-size: 2em;
    }
}


    
    
#mce-MMERGE4-month, #mce-MMERGE4-day{
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
}

#mce-MMERGE4-month{
    margin-left: 10px;
}

#mc_embed_signup #mc-embedded-subscribe{
    background-color: $primary-red;
    @include font-bold;
    letter-spacing: 2px;
    font-size: 1.2em;
    width: 190px;

}

#mc_embed_signup #mc-embedded-subscribe:hover{
    background-color: $primary-hover-red;
}




// MEDIA QUERIES


@media screen and (min-width: 300px) and (max-width: 700px) {

  
    #mc-embedded-subscribe-form{ 
        width: 75%;
        min-width: 330px;
        margin: 0 auto;
        
    }

    .subscribe-form-container{
        position: relative;
        width: 95%;
        top: 190px;


        p, h2, label{
        color: $primary-black;
        line-height: 1.3;
        text-align: center;
        text-shadow: none;
        }

        h2{
            font-size: 1.65em !important;
            letter-spacing: normal;
            @include font-bold;
        }

        img{
            width: 100%;
        }
    }

    #mce-MMERGE4-month, #mce-MMERGE4-day{
        border: 1px solid #ABB0B2;
    }

    #mc_embed_signup div.birthday-container{
        label{
            text-shadow: none;
        }
    }

    input#mce-EMAIL{
        width: 100% !important;
    }

    .clear #mc-embedded-subscribe{
        height: 38px !important; 
        width: 100% !important;
        margin-top: 20px !important;
    }
}

