// SUBSCRIBE FORM BANNER

.home-banner-form-img{
    position: relative;
    max-height: 500px;
    object-fit: cover;
    object-position: top;
}

.subscribe-form-container{
    width: 65%;
    position: absolute;
    min-width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    p{
        color: $primary-white;
        margin: 2% 0 5% 0;
    }
}

.subscribe-form-title{
    color: $primary-white;
    letter-spacing: 2px;
}

.banner-container{
    #mc_embed_signup #mc-embedded-subscribe{
        font-size: 1em;
    }
}


// CONTACT FORM 


.indicates-required{
    margin-top: -40px;
}

.contact-form-title{
    font-size: 1.953em;
}


#mc_embed_signup #mc-embedded-subscribe{
    background-color: $primary-red;
    @include font-bold;
    letter-spacing: 2px;
    font-size: 1.2em;

}

#mc_embed_signup #mc-embedded-subscribe:hover{
    background-color: $primary-hover-red;
}




// MEDIA QUERIES


@media screen and (min-width: 300px) and (max-width: 700px) {
    
    #mc_embed_signup #mc-embedded-subscribe{
        width: 100%;
        height: 50px;
        font-size: 1.5em;
    }

    .mc-field-group{
        margin-bottom: 25px;
    }

    .input-group{
        ul{
            li{
                input{
                    margin: 10px;
                }
            }
        }
    }

    .subscribe-form{
        height: 450px;
    }

    .subscribe-form-container{
        position: relative;
        width: 80%;
        top: 150px;

        p, h2{
        color: $primary-black;
        line-height: 1.3;
        text-align: center;

        }

        h2{
            font-size: 1.3em;
            @include font-bold;
        }
    }

    #mc_embed_signup{
        form{ 
            width: 75%;
            margin: 0 auto;
        }
    }

    #mc_embed_signup #mc-embedded-subscribe{
        height: 45px;
        margin-top: 8px;
    }
    

}
