// SUBSCRIBE FORM BANNER

.home-banner-form-img{
    position: relative;
    max-height: 500px;
    object-fit: cover;
    object-position: top;
}

.subscribe-form-container{
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    p{
        color: $primary-white;
        margin: 2% 0 5% 0;
    }
}

.subscribe-form-title{
    color: $primary-white;
    letter-spacing: 2px;
}

.indicates-required{
    margin-top: -40px;
}

.contact-form-title{
    font-size: 1.953em;
}

#mc_embed_signup #mc-embedded-subscribe{
    background-color: $primary-red;
    @include font-bold;
    letter-spacing: 2px;
    font-size: 1.2em;

}

#mc_embed_signup #mc-embedded-subscribe:hover{
    background-color: $primary-hover-red;
}
