.instagram-feed{
    width: 75%;
    margin: 0 auto 5% auto;
    
    h3{
        text-transform: uppercase;
    }

    p{
        width: 85%;
        min-width: 270px;
        max-width: 550px;
        line-height: 1.7;
        letter-spacing: 1.5px;
        margin: 5% 0;
    }

    button{
        @include button-white;
        @include font-bold;

    }

    button:hover{
        @include button-red;
    }
}

.sb_instagram_header, #sbi_load{
    display: none;
}

.instagram-feed-wrapper{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: -4%;
}


.instagram-feed-info{
    width: 100%;
    margin-top: 9%;
}

#sb_instagram{
    max-width: 400px;
    height: auto;
    min-width: 300px;

}


// MEDIA QUERIES

@media screen and (min-width: 300px) and (max-width: 700px) {

    .instagram-feed-wrapper{
        display: flex;
        flex-direction: column;
    }

    #sbi_images{
        margin-left: -10px;
    }
    
    .instagram-feed-info{
        margin-bottom: 40px;
    }

    #sb_instagram{
        height: 300px;
    }

}

@media screen and (min-width: 1440px) {

    .instagram-feed-wrapper{
        margin-top: -100px;
    }

    .instagram-feed-info{
        margin-top: 15%;
    }


}