// LIVE CHAT 

.wcMessages{
    border: 2px solid $primary-black !important;
    border-radius: 8px !important;
    // width: 98% !important;
    margin: 3% auto 0 auto !important;
    background-color: $primary-white !important;
}

.wcMessageUser, .wcMessageContent, .wcCurrentUserName{
    font-family: 'Helvetica Neue' !important;
}


.wcWindowTitle, a.wcInsertEmoticonButton{
    display: none !important;
}

.wcMessageContent, .wcInput{
    background-color: #EAEAEA !important;
}


.wcControls{
    background-color: $primary-white !important;
    background: none !important;
    input#chat-BTN{
        background: none !important;
        background-color: $primary-red !important;
        margin-left: 10px;
        text-transform: uppercase !important;
        font-weight: bold !important;
        letter-spacing: 1px;
        font-family: 'Roboto';
    }
}




@media only screen and (max-width: 700px){
    .wcToolButtonWrapper, .wcCurrentUserName{
        display: none;
    }

    .wcControls{
        display: flex;
        flex-direction: column-reverse;
    }

    .wcInputContainer{
        min-width: 270px !important;

    }

    input#chat-BTN{
        margin-left: 0 !important;
        margin-bottom: 5px;
    }

}

@media only screen and (min-width: 1000px){

    .wcControls, .wcMessages{
        width: 95% !important;
        margin:  0 auto;
    }
}