.nav{
    margin: auto 0;
    width: 35%;
    min-width: 325px;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
#menu-footer-nav{
    width: 50%;
    margin: 0 auto;
}