// .nav{
//     margin: auto 0;
//     min-width: 500px;
//     max-width: 600px;
//     width: 65%;
// }

// #menu-nav{
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     align-items: center;
// }

.hamburger-container{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 28%;
    top: 50px;
    z-index: 100;
}
.fa-bars, .fa-times{
    width: 85%;
    font-size: 2.8em;
    margin: 0 auto;
    text-align: right;
    color: $primary-white;
}


#menu-nav{
    height: 100vh;
    width: 100vw;
    padding-top: 165px;
    background-color: $primary-black;
    text-align: center;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    // top: 200px;
}

#menu-nav li{
    display: block;
    padding: 40px 0;
}

// #menu-nav li:hover{
//     a{
//         font-size: 1.4em;
//     }
// }



// FOOTER 

#menu-footer-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-nav{
    width: 550px;
}

#menu-footer-nav{
    margin: 0 auto;
    width: 82%;
    max-width: 550px;
    min-width: 400px;
}

#menu-sub-footer-nav{
    display: flex;
    justify-content: flex-end;
    a{
        padding-left: 20px;
    }
}


// HEADER-BLACK

.nav-black{
    #menu-nav{
        a{
            color: $primary-black;
        }
    }
}



@media screen and (min-width: 300px) and (max-width: 700px){
    #menu-footer-nav{
        margin: 15px auto 30px auto;

        li{
            margin: 10px 0;
        }
    }

    #menu-sub-footer-nav{
        margin-bottom: 10px;
        li{
            margin: 10px auto;
            a{
                padding-left: 0;
            }
        }
        
    }
}

@media only screen and (min-width: 700px){

    .nav{
        margin: auto 0;
        min-width: 500px;
        max-width: 600px;
    }
    
    #menu-nav{
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: initial !important;
        margin-top: -165px;


        li{
            background-color: initial !important;
        }
    }

    .fa-bars, .fa-times{
        display: none !important;
    }

    .contact-nav-item{
        a{
        background-color: $primary-red !important;
        padding: 9px 18px;
        border-radius: 8px;
    
        }
    }
    
    #menu-nav{
        .contact-nav-item{
            a:hover{
                background-color: $primary-white !important;
                color: $primary-red;
            }
        }
    }
    
}