.nav{
    margin: auto 0;
    min-width: 500px;
    max-width: 600px;
    width: 65%;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
#menu-footer-nav{
    width: 50%;
    margin: 0 auto;
}