.testimonials-wrapper{
    width: 75%;
    height: auto;
    margin: 0 auto 7% auto;
    font-family: 'Helvetica Neue';
}

.testimonials-carousel{
    width: 100%;
}

.carousel-cell {
    width: 30%;
    margin-right: 39px;
    height: 525px;
    box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.16);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p{
        width: 77%;
        font-size: 0.76em;
        line-height: 1.5;
        letter-spacing: 1.2px;
        text-align: center;
        margin: 0 auto;
    }
    h5{
        margin-top: 15px;
        text-transform: uppercase;
    }
    a{
        text-decoration: none;
        text-align: center;
        color: $primary-black;
    }

    h6{
        margin: 10px auto 15px auto;
        width: 70%;
        height: 28px;
        line-height: 1.1;
    }
    img{
        border-radius: 50%;
        height: 100px;
        width: 100px;
    }
}


.flickity-viewport{
    padding: 20px 0;
}

.flickity-button{
    display: none;
}

.carousel-cell:hover{
    box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.46);

}

// ALL TESTIMONIALS PAGE

.testimonials-container{
    margin-bottom: 12%;
    img{
        border-radius: 50%;
        height: 100px;
        width: 100px;
    }
}


// SINGLES TESTIMONIAL PAGE

.testimonials-singe-info-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto 3% auto;
    max-width: 750px;

    img{
        margin-right: 40px;
        border-radius: 50%;
        height: 100px;
        width: 100px;
    }
}

.testimonials-single-info{
    width: 70%;

    h3{
        text-transform: uppercase;
        margin-bottom: 8px;
        letter-spacing: 1px;
    }
    h4{
        @include font-italic;
        letter-spacing: 1px;
    }


    
}


// MEDIA QUERIES

@media screen and (min-width: 300px) and (max-width: 700px) {

    .carousel-cell{
        width: 90%;
    }

    .testimonials-wrapper{
        margin-bottom: 80px;
    }
    .testimonials-single-info{
        min-width: 170px;
        max-width: 350px;
        margin-left: -20px;
        h3{
            font-size: 1.1em;
        }
        h4{
            font-size: 0.8em;
        }
    }
}

@media screen and (min-width: 700px) and (max-width: 1200px) {

    .carousel-cell{
        width: 50%;
        // margin-right: 20px;
    }
    
}