p{
  font-family: 'helvetica neue';
  font-size: 16px;
  color: $primary-black;
  @include font-regular;
}

h1{
  font-family: 'Helvetica Neue';
  font-size: 2em;
  @include font-bold;
}

h2{
  font-family: 'helvetica neue';
  color: $primary-black;
  font-size: 1.953em;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
}

h3{
  font-family: 'helvetica neue';
  color: $primary-black;
  font-size: 1.53em;
  @include font-bold;
}

h4{
  font-family: 'helvetica neue';
  color: $primary-black;
  font-size: 1.25em;
  @include font-bold;
}

//WIDGET TITLE

.widget-title{
  text-transform: capitalize;
}


// HEADER  & FOOTER TYPOGRAPHY

#menu-footer-nav, #menu-nav{
  a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto';
    letter-spacing: 1px;
    text-align: center;
    @include font-bold;
  }
}

#menu-nav{
  a{
    color: $primary-white;
    font-size: 16px;

  }
}

#menu-footer-nav{
  a{
    color: $primary-black;
    font-size: 13px;

  }
  
}


.tythetrainer-copyright{
  p{
    color: $primary-grey;
    letter-spacing: 2px;
    font-size: 14px;
    text-transform: capitalize;
    font-family: 'Helvetica Neue';
    @include font-light;
  }
}

#menu-sub-footer-nav{
  li{
    a{
      color: $primary-grey;
      letter-spacing: 2px;
      font-size: 14px;
      text-decoration: none;
      text-transform: capitalize;
      font-family: 'Helvetica Neue';
      @include font-light;

    }
  }
}

// FRONT PAGE - HERO

.hero-info-container{
  p, h1{
    color: $primary-white;
    text-transform: uppercase;
    font-family: 'Helvetica Neue';
    letter-spacing: 3px;
    line-height: 1.3;
  }

  h1{
    margin-bottom: 25px;
  }
}


.exception-text{
  color: $primary-red;
  font-style: italic;
  text-transform: capitalize;
}