p{
  font-family: 'helvetica neue';
  font-size: 16px;
  color: $primary-black;
  @include font-regular;
}

h1{
  font-family: 'Helvetica Neue';
  font-size: 2.3em;
  @include font-bold;
}

h2{
  font-family: 'helvetica neue';
  color: $primary-black;
  font-size: 1.953em;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
}

h3{
  font-family: 'helvetica neue';
  color: $primary-black;
  font-size: 1.53em;
  @include font-bold;
}

h4{
  font-family: 'helvetica neue';
  color: $primary-black;
  font-size: 1.25em;
  @include font-bold;
}

h5{
  font-family: 'Helvetica Neue';
  color: $primary-black;
  font-size: 0.9em;
  @include font-bold;
}

h6{
  color: $primary-black;
  font-size: 0.8em;
  @include font-italic;
  color: $primary-grey;
}

strong{
  @include font-bold;
}

em{
  @include font-italic;
}

strong{
  em{
    @include font-bold-italic;
  }
}

//WIDGET TITLE

.widget-title{
  text-transform: capitalize;
}


// HEADER  & FOOTER TYPOGRAPHY

#menu-footer-nav, #menu-nav{
  a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto';
    letter-spacing: 1px;
    text-align: center;
    @include font-bold;
  }
}

#menu-nav{
  a{
    color: $primary-white;
    font-size: 16px;

  }
}

#menu-footer-nav{
  a{
    color: $primary-black;
    font-size: 13px;

  }
  
}


.tythetrainer-copyright{
  p{
    color: $primary-grey;
    letter-spacing: 2px;
    font-size: 14px;
    text-transform: capitalize;
    font-family: 'Helvetica Neue';
    @include font-light;
  }
}

#menu-sub-footer-nav{
  li{
    a{
      color: $primary-grey;
      letter-spacing: 2px;
      font-size: 14px;
      text-decoration: none;
      text-transform: capitalize;
      font-family: 'Helvetica Neue';
      @include font-light;

    }
  }
}

// FRONT PAGE - HERO

.hero-info-container{
  p, h1{
    color: $primary-white;
    text-transform: uppercase;
    font-family: 'Helvetica Neue';
    letter-spacing: 3px;
    line-height: 1.3;
  }

  h1{
    margin-bottom: 25px;
  }
}

// CONTACT FORM

div.input-group {
  strong{
    font-size: 1.2em;
    text-transform: uppercase;
  }
}


@media screen and (min-width: 300px) and (max-width: 700px) {

  h1{ 
    font-size: 1.7em
  }
  
  h2{
    font-size: 1.6em;
    ul{
      li{
        font-size: 0.7em;
        letter-spacing: 1px;
      }
    }
  }

  h3{
    font-size: 1.3em;
  }

  #mc_embed_signup_scroll{
    .widget-title{
      h2{
        font-size: 1em;
      }
    }
  }

}