p{
  font-family: 'helvetica neue';
  font-size: 16px;
  color: $primary-black;
  @include font-regular;
}

h2{
  font-family: 'helvetica neue';
  font-size: 30px;
  color: $primary-black;
  @include font-bold;
  
}

#menu-footer-nav, #menu-nav{
  a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto';
    letter-spacing: 1px;
    text-align: center;
    @include font-bold;
  }
}

#menu-nav{
  a{
    color: $primary-white;
    font-size: 16px;

  }
}

#menu-footer-nav{
  a{
    color: $primary-black;
    font-size: 15px;

  }
  
}

.tythetrainer-copyright{
  text-align: center;
  color: $primary-grey;
  letter-spacing: 2px;
  font-size: 14px;
  @include font-light;
}