#mc_embed_signup_scroll{
    width: 85%;
    margin: 0 auto;


    label{
        @include font-bold;
        font-family: 'Helvetica Neue';
        text-transform: uppercase;
    }
}


.contact-form-container{
    width: 75%;
    max-width: 1000px; 
    margin: 5% auto;
}

.nf-response-msg{
    p{
        line-height: 1;
        text-transform: initial;
        @include font-bold;
        font-size: 1.2em;
        margin: 10px 0;
    }

}

@media screen and (min-width: 300px) and (max-width: 700px){
    .indicates-required{
        display: none;
    }
}