.home-hero{
    background-color: $primary-black;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    
    
    .smoke-img{
        position: absolute;
        right: -20%;
        overflow: hidden;
    }
}

.home-hero-container-wrapper{
    position: absolute;
    left: 0;
    right:0;
    top: 25%;
    margin: 0 auto;
    border: 5px solid $primary-white;
    border-radius: 10px;
    width: 85%;
    height: 62%;
    min-height: 500px;
    z-index: 100;
}

.home-hero-container{
    width: 90%;
    margin: 0 auto;
    top: -65px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    position: absolute;
    // top: 150px;
    // z-index: -10;

    img{
        width: 65%;
        height: auto;
        padding-top: 20px;
    }
    
}

.hero-text-container{
    display: flex;
    flex-direction: row;
    align-items: center;

    .icon-scroll-down{
        width: 17px;
        height: auto;
        margin-left: 10px;
    }
}

.hero-info-container{
    margin: auto 0 auto 2.5%;
    
}

@media screen and (min-width: 1440px) {
    
    .home-hero-container-wrapper{
        max-height: 575px;
    }
    .home-hero-container{
        top: -25%;
    }

}