//HERO

.home-hero{
    background-color: $primary-black;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    
    
    .smoke-img{
        position: absolute;
        right: -20%;
        overflow: hidden;
    }
}

.home-hero-container-wrapper{
    position: absolute;
    left: 0;
    right:0;
    top: 25%;
    margin: 0 auto;
    border: 5px solid $primary-white;
    border-radius: 10px;
    width: 85%;
    height: 48%;
    min-height: 470px;
    z-index: 100;
}

.home-hero-container{
    width: 90%;
    margin: 0 auto;
    top: -65px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    position: absolute;
    // top: 150px;
    // z-index: -10;

    img{
        width: 65%;
        max-width: 700px;
        height: auto;
    }
    
}

.hero-text-container{
    display: flex;
    flex-direction: row;
    align-items: center;

    .icon-scroll-down{
        width: 17px;
        height: auto;
        margin-left: 10px;
    }
}

.hero-info-container{
    margin: auto 0 auto 2.5%;
    
}

// SERVICES

.home-services{
    width: 85%;
    margin: 0 auto 7% auto;

}

.home-services-container{
    width: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 1%;

    h3{
        text-transform: uppercase;
        width: 60%;
        line-height: 1.3;
        letter-spacing: 2px;
        // margin: 25px 0;
    }

    p{
        line-height: 1.5;
        letter-spacing: 1px;
        width: 82%;
        // margin-bottom: 25px;
    }

    button{
        @include button-white;
        @include font-bold;
    }

    button:hover{
        color: $primary-white;
        background-color: $primary-red;
    }
}

.home-nutritional-plans, .home-guides-resources{
    img{
    height: 70px;
    }
}

.home-personal-training{
    img{
        height: 55px;
        padding: 7.5px 0;
    }
}

.home-nutritional-plans, .home-guides-resources, .home-personal-training{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 400px;
}

.banner-container{
    position: relative;
}

.banner-info{
    position: absolute;
    bottom: 50px;
    left: 180px;

    h2{
        color: $primary-white;
        line-height: 1.5;
        text-transform: uppercase;
        letter-spacing: 4px;
    }
}

// SHOP SECTION
.home-shop{
    width: 85%;
    margin: 0 auto;
}

.home-shop-container{
    display: grid;
    grid-template-columns: 50% 50%;

    img{
        width: 400px;
        margin-top: -18%;
    }

    button{
        @include button-white;
        @include font-bold;
    }
}

.home-shop-content{
    width: 90%;
    margin-top: -4%;

    p{
        line-height: 1.7;
        letter-spacing: 1.5px;
        margin-bottom: 6%;
        max-width: 550px;
    }
}








// MEDIA QUERIES


@media screen and (min-width: 900px) and (max-width: 1000px) {

    .home-nutritional-plans, .home-guides-resources, .home-personal-training{
        height: 460px;
    }
}

@media screen and (min-width: 1440px) {
    
    .home-hero-container-wrapper{
        max-height: 575px;
        top: 200px;
    }

    .home-nutritional-plans, .home-guides-resources, .home-personal-training{
        height: 380px;
    }
}


