//HERO

.home-hero{
    background-color: $primary-black;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    
    
    .smoke-img{
        position: absolute;
        right: -20%;
        top: 0;
        overflow: hidden;
    }
}

.home-hero-container-wrapper{
    position: relative;
    top: 155px;
    margin: 0 auto;
    border: 5px solid $primary-white;
    border-radius: 10px;
    width: 85%;
    height: 67%;
    z-index: 80;
}

.home-hero-container{
    width: 100%;
    max-width: 1350px;
    max-height: 750px;
    position: absolute;
    left: -30px;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 100;

    .hero-ty-img{
        position: relative;
        width: 67.5%;
        max-width: 700px;
        height: auto;
    }
    
}

.hero-text-container{
    display: flex;
    flex-direction: row;
    align-items: center;

    .icon-scroll-down{
        width: 17px;
        height: auto;
        margin-left: 10px;
    }
}

.hero-info-container{
    margin-left: 2%;

    h1{
        width: 100%;
        min-width: 330px;
    }
}

// SERVICES

.home-services{
    width: 75%;
    margin: 0 auto 7% auto;

}

.home-services-container{
    width: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 1%;

    h3{
        text-transform: uppercase;
        width: 60%;
        line-height: 1.3;
        letter-spacing: 2px;
    }

    p{
        line-height: 1.5;
        letter-spacing: 1px;
        width: 82%;
    }

    button{
        @include button-white;
        @include font-bold;
        a{
            text-decoration: none;
            color: $primary-red;
        }
    }

    button:hover{
        @include button-red;
        a{
            color: $primary-white;
        }
    }
}

.home-nutritional-plans, .home-guides-resources{
    img{
    height: 70px;
    }
}

.home-personal-training{
    img{
        height: 55px;
        padding: 7.5px 0;
    }
}

.home-nutritional-plans, .home-guides-resources, .home-personal-training{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 430px;
}




/// HOME PAGE BANNER

.banner-container{
    position: relative;
}

.banner-info{
    position: absolute;
    bottom: 50px;
    left: 12%;

    h2{
        color: $primary-white;
        line-height: 1.5;
        text-transform: uppercase;
        letter-spacing: 4px;
    }
}

// SHOP SECTION
.home-shop{
    width: 75%;
    margin: 0 auto;
}

.home-shop-container{
    display: grid;
    grid-template-columns: 50% 50%;
    height: auto;

    img{
        width: 85%;
        max-width: 400px;
        margin-top: -12%;
    }

    button{
        @include button-white;
        @include font-bold;
    }
    
    button:hover{
        @include button-red;
    }
}

.home-shop-content{
    width: 90%;

    p{
        line-height: 1.7;
        letter-spacing: 1.5px;
        margin-bottom: 6%;
        max-width: 550px;
    }
}




// MEDIA QUERIES

@media screen and (min-width: 300px) and (max-width: 700px) {

    .home-shop-container{
        display: flex;
        flex-direction: column-reverse;
    }

    img.home-shop-img{
        margin: 30px auto 50px auto;
    }

    .home-shop-content{
        p, button{
            width: 100%;
            min-width: 280px;
        }

        button{ 
            margin: 20px 0;
        }
    }

    .home-services-container{
        display: flex;
        flex-direction: column;
    }

    .services-title-info{
        display: flex;
        flex-direction: row;
        align-items: center;
        img{
            margin-right: 30px;
        }
    }

    .home-personal-training, .home-nutritional-plans, .home-guides-resources{
        margin-bottom: 25%;
        height: 320px;

        p, h3, button{
            width: 100%;
        }

        button{
            height: 44px;
        }
    }

    .banner-info{
        h2{
            display: none;
        }
    }


    .smoke-img{
        display: none;
    }

    .home-hero-container{
        display: flex; 
        flex-direction: column-reverse;
        left: 0;
        justify-content: space-evenly;
        height: 110%;
        margin-top: 30px;

        .hero-ty-img{
            min-width: 360px;
        }
    }

    .home-hero-container-wrapper{
        width: 75%;
    }

    .hero-info-container{
        h1{
            min-width: 235px;
            margin-bottom: 14px; 
        }
    }

    .icon-scroll-down{
        display: none;
    }

}

@media screen and (min-width: 700px) and (max-width: 1100px) {
    
    .hero-info-container{
        h1{
            font-size: 1.45em;
        }
    }

    .home-hero{
        height: 65vh;
        max-height: 575px;
    }
    .home-hero-container-wrapper{
        height: 55%;
    }

    .hero-ty-img{
        min-width: 400px;
        max-width: 425px !important;
        margin-top: 0 !important;

        
    }

    .icon-scroll-down{
        display: none;
    }
    .hero-info-container{
        margin-left: 5%;
        h1{
            margin-bottom: 10px;
        }
    }

}

@media screen and (min-width: 700px) and (max-width: 1000px) {
    .home-services-container{
        display: flex;
        flex-direction: column;  
    }

    
    .services-title-info{
        display: flex;
        flex-direction: row;
        align-items: center;
        img{
            margin-right: 5%;
        }

        h3{
            min-width: 500px;
        }
    }
    .home-personal-training, .home-nutritional-plans, .home-guides-resources{
        margin: 4% 0 5% 0;
        height: 220px;

        p{
            width: 550px;
        }
    }

    .home-shop-container{
        display: flex;
        flex-direction: column-reverse;
        .home-shop-img{
            margin: 30px 0 0 75px;
            width: 80%;
        }        
    }


}

@media screen and (min-width: 1440px) {
    
    .hero-info-container{
        margin-left: 5%;
    }
    .home-nutritional-plans, .home-guides-resources, .home-personal-training{
        height: 360px;
    }
}



