.coming-soon-resources-container{
    width: 75%;
    margin: 0 auto;
    p{
        margin-bottom: 10px;
    }
}

.resources-coming-soon-IMG{
    width: 100%;
    max-width: 1260px;
    margin-left: -50px;
}

//TOP 5 HOME EQUIPMENT

.top-five-wrapper{
    margin: 0 auto;
    width: 75%;

}

.top-five-container{
    display: flex;
    flex-direction: row;
}

.top-five-item-container{
    width: 12%;
    margin-right: 20px;
    max-width: 150px;

    h5{
        text-transform: uppercase;
        margin-bottom: 15px;
        height: 50px;
        width: 123px;
        line-height: 1.3;
        text-align: center;
    }
}

// @media only screen and (min-width: 300px) and (max-width: 1200px) {

//     .resources-coming-soon-IMG{
//         margin: 0 auto 0 -25px;
//     }

// }

@media only screen and (min-width: 700px) and (max-width: 1200px) {

    .top-five-item-container{
        width: 20%;
        margin-right: 0;

        h5{
            font-size: 0.65em;
            height: 35px;
            text-align: center;
        }
    }

}