.coming-soon-resources-container{
    width: 75%;
    margin: 0 auto;
    p{
        margin-bottom: 10px;
    }
}

.resources-coming-soon-IMG{
    width: 100%;
    max-width: 1260px;
    margin-left: -50px;
}




@media only screen and (min-width: 300px) and (max-width: 1200px) {

    .resources-coming-soon-IMG{
        margin: 0 auto 0 -25px;
    }
}