.services-widget{
    width: 75%;
    margin: 0 auto 7% auto;
}

.personal-training-wrapper, .nutritional-plans-wrapper{
    width: 100%;
    margin-bottom: 8%;
}
.personal-training-container, .nutritional-plans-container{
    width: 95%;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 2%;
    grid-gap: 5%;

    p{
        line-height: 1.5;
        letter-spacing: 1.5;
        margin-top: 14px;
        width: 97%;
    }

    h4{
        color: $primary-red;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}

.services-info-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 3.5% 0;

    h3{
        text-transform: uppercase;
        letter-spacing: 1.8px;
    }
    
    img{
        width: 80px;
        height: auto;
        margin-right: 15px;
    }
}

.exception-text{
    font-style: italic;
    text-transform: capitalize;
  }
  
// MEDIA QUERIES


  @media screen and (min-width: 300px) and (max-width: 700px) {

    .personal-training-container, .nutritional-plans-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 50px;

        .tythetrainer-widget{
            margin-bottom: 50px;
        }
    }

    .services-info-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 15% 5% 16% 0;
    }

}  

@media only screen and (min-width: 700px) {
    
    .personal-training-wrapper, .nutritional-plans-wrapper{
        margin: 10% auto 15% auto;
    }

    .personal-training-container, .nutritional-plans-container{
        margin-top: 8%;
    }
}