.services-widget{
    width: 75%;
    margin: 0 auto 7% auto;
}

.personal-training-wrapper, .nutritional-plans-wrapper{
    width: 100%;
    margin-bottom: 8%;
}
.personal-training-container, .nutritional-plans-container{
    width: 95%;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 2%;
    grid-gap: 5%;

    p{
        line-height: 1.5;
        letter-spacing: 1.5;
        margin-top: 14px;
        width: 97%;
    }

    h4{
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    i{
        margin-left: 5px;
    }

    a{
        color: $primary-red;
        @include font-bold;
        text-transform: uppercase;
    }
    a:hover{
        @include font-bold-italic;
    }
}

.services-info-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 3.5% 0;

    h3{
        text-transform: uppercase;
        letter-spacing: 1.8px;
    }
    
    img{
        width: 80px;
        height: auto;
        margin-right: 15px;
    }
}

.exception-text{
    font-style: italic;
    text-transform: capitalize;
  }
  
// SERVICES CONTACT



.black-overlay{
    width: 100%;
    height: 99.7%;
    background-color: $primary-black;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
}

.services-contact-container{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

        h2{
        color: $primary-white;
        text-shadow: 2px 2px 4px $primary-black;
        margin-bottom: 3%;
        text-transform: capitalize;

        }

       button{
        margin-top: 3%;
        @include button-red;
        @include font-bold;
        a{
            text-decoration: none;
            color: $primary-white;
        }
    }

    button:hover{
        @include button-white;
        a{
            color: $primary-red;
        }
    }
}



// MEDIA QUERIES


  @media screen and (min-width: 300px) and (max-width: 700px) {

    .personal-training-container, .nutritional-plans-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 50px;

        .tythetrainer-widget{
            margin-bottom: 50px;
        }
    }

    .services-info-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 15% 5% 16% 0;
    }

    .services-contact-container{
        min-width: 400px;
        line-height: 1.1;
    }

}  

@media only screen and (min-width: 700px) {
    
    .personal-training-wrapper, .nutritional-plans-wrapper{
        margin: 8% auto 10% auto;
    }

    .personal-training-container, .nutritional-plans-container{
        margin-top: 8%;
        margin-right: 0;
    }
}

@media only screen and (min-width: 1440px) {
    .personal-training-container, .nutritional-plans-container{
        margin-top: 3%;
    }

    .personal-training-wrapper, .nutritional-plans-wrapper{
        margin-top: 3%;
    }

}