.services-widget{
    width: 75%;
    margin: 0 auto 7% auto;
}

.personal-training-wrapper, .nutritional-plans-wrapper{
    width: 100%;
    margin-bottom: 5%;
}
.personal-training-container, .nutritional-plans-container{
    width: 95%;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 2%;
    grid-gap: 5%;

    p{
        line-height: 1.5;
        letter-spacing: 1.5;
        margin-top: 14px;
        width: 97%;
    }

    h4{
        color: $primary-red;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}

.services-info-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 3.5% 0;

    h3{
        text-transform: uppercase;
        letter-spacing: 1.8px;
    }
    
    img{
        width: 80px;
        height: auto;
        margin-right: 15px;
    }
}