.shred-challenge-BTN-container, .agreement{
    text-align: center;

}

.shred-challenge-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a.shred-challenge-BTN{
    border-radius: 4px !important;
    background-color: #931616 !important;
    font-family: 'Roboto';
    @include font-bold;
    letter-spacing: 3px;
    text-transform: uppercase;
}


.agreement{
    form{
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 1100px){

    .agreement{
        p{
            min-width: 350px;
            max-height: 60px;
            margin: 25px auto !important;
        }

    }

}